@import url('font.css');

@mixin media($size) {
  @media (max-width:#{$size}px) {
    @content
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00498D #E4E4E4;

  &:focus{
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #00498D;
}

::-webkit-scrollbar-thumb:hover {
  background: #00498D;
}

.mt-6{
  margin-top: 6px;
}

.mycheckbox{
  width: 18px;
  height: 18px;
  border: none;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 6px;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 1px solid #E4E4E4;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 8.4px;
  top: 4px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #B4B4B4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 5.4px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #B4B4B4;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #B4B4B4;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);  
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

textarea{
  resize:none;
}

html{
  max-width: 100vw;
  height: 100%;
}

body{
  font-family: 'Proxima Nova';
  background: #f5f9fb;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.main{
  height: 100%;
  padding: 20px 0;
  margin: 0;
}

.tags-xl{
  width: 100%;
  padding: 0 0 8px 0;

  &-row{
    width: 100%;
    display: flex;
    margin-bottom: 6px;

    &:last-child{
      margin-bottom: 0;
      margin-top: 6px;
    }
  }

  &-tag{
    width: fill-available;
    margin-right: 4px;
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
    padding: 6px 0;

    &:last-child{
      margin-right: 0;
    }

    &.current{
      color: #FFFFFF;
      background: #00498D;
      border: 1px solid #00498D;
    }
  }
}

.content{
  background: none;
  width: 100%;
  height: calc(100vh - 150px);
  border-radius: 6px;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
  margin-bottom: 15px;


  &__header__title{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #494A4A;
    display: flex;
    align-items: center;
    justify-content: center;  
    border: none;
    background: transparent;
    margin-bottom: 15px;

    svg{
      margin-right: 8px;
    }

    &:hover{
      text-decoration: none;
      color: #494A4A;
    }
  }

  &__input-div{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
  }

  &__label{
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    color: #8B8B8B;
    width: 100px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__input{
    width: 100%;
    height: 34px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__textarea{
    width: 100%;
    height: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }

  &__count{
    position: absolute;
    bottom: -15px;
    right: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #E4E4E4;

    & .green{
      color: #00C48C;
    }
  }

  &__right{
    padding-right: 30px;

    &__title{
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 7px;
      color: #494A4A;
    }

    &__p{
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #8B8B8B;
      margin-bottom: 5px;
    }

    &__btn{
      width: 35px;
      height: 35px; 
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00498D;
      border: none;
      margin-left: 6px;
    }

    &__main{
      display: flex;
      justify-content: flex-start;
      align-items: start;

      &__left{

        label{
          width: 78px;
        }
      }

      &__right{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;

        &__content{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: start;
          width: 100%;

          &__top{
            display: flex;

            &__btns{
              display: flex;
              align-items: start;
              justify-content: flex-start;
              margin-left: 8px;
            }
          }

          &__bottom{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            width: 100%;
          }
        }

        &__img-div{
          margin-right: 15px;
        }
      }
    }
  }
}

.visual{
  margin-left: 113px;
  margin-right: 16px;
  
  &__footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 14px;

    p{
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.save-btn{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 14px;
  line-height: 20px;
  color: #1A051D;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 10px;
  transition: 200ms ease;

  &:hover{
    background: #00C48C;

    .save-btn__i{
      background: #fff;

      svg{
        fill: #00C48C;
      }
    }

    p{
      color: #fff;
    }
  }

  &__i{
    background: #00C48C;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    border-radius: 6px;
    transition: 200ms ease;

    svg{
      fill: #fff;
      transition: 200ms ease; 
    }
  }

  p{
    margin-bottom: 0;
  }
}

.cke_1.cke.cke_reset.cke_chrome.cke_editor_editor1.cke_ltr.cke_browser_webkit{
  background: #FFFFFF;
  box-sizing: border-box;
}

.text-align-right{
  text-align: right;
}

.ozon{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  @include media(1400){
    flex-direction: column;
    align-items: start;
  }

  &__title{
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: left;
    color: #8B8B8B;
    margin-right: 8px;
    margin-bottom: 0;

    @include media(1400){
      width: 40px;
      text-align: right;
    }
  }

  &__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    &-with-img{
      display: flex;
      justify-content: flex-end;
      width: 66%;

      @include media(1400){
        justify-content: flex-start;
        width: 100%;
        order: -1;
      }
    }

    &-with-btns{
      width: 33%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include media(1400){
        width: 100%;
      }
    }
  }

  &__item{
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #8B8B8B;
    max-width: 150px;
    width: 100%;
    margin-right: 4px;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;

    &-with-img{
      width: 100%;
      margin-right: 0;
      border: none;
      border: 1px solid transparent;
      transition: 200ms ease;
      padding: 4px 8px;
      border-radius: 6px;
      max-width: 80px;
      width: 100%;
      margin-right: 4px;
      cursor: pointer;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        filter: grayscale(1);
        transition: 200ms ease;
      }

      &.current{
        background: transparent !important;
        border: 1px solid #8B8B8B !important;

        img{
          filter: none;
        }
      }
    }

    &.current{
      background: #00498D;
      border: 1px solid #00498D;

      p{
        color: #fff;
      }
    }

    &__img{
      max-width: 100%;
    }

    &__p{
      margin-bottom: 0;
      font-size: 13px;
      line-height: 16px;
      color: #494A4A;
    }
  }
}

.dropdown{

  &-item{
    color: #B4B4B4;
    transition: 200ms ease;
    cursor: pointer;
  }
  
  &-item:hover{
    color: #494A4A;
    background: none;
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btn{
    width: 38px;
    height: 38px;
    margin-right: 6px;
    border: none;
    border-radius: 6px;
    background: #fff;
    transition: 200ms ease;

    &.gray{

      svg{
        fill: #8B8B8B;
        transition: 200ms ease;
      }

      &:hover{
        background: #00498D;

        svg{
          fill: #fff;
        }
      }
    }

    &.blue{

      svg{
        fill: #00498D;
        transition: 200ms ease;
      }

      &:hover{
        background: #00498D;

        svg{
          fill: #fff;
        }
      }
    }
  }

  &__text{
    width: 38px;
    height: 38px;
    margin-right: 6px;
    border: none;
    background: none;
    border-radius: 6px;
    color: #8B8B8B;
    transition: 200ms ease;

    &:hover{
      color: #494A4A;
    }

    &.current{
      background: #00498D;
      color: #fff;
    }
  }

  &__p{
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #9F9F9F;
  }

  &__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__dropdown{
    margin-left: 14px;

    &__button{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #fff;
      border-radius: 6px;
      height: 38px;
      padding: 0 16px;
      color: #9F9F9F;

      &:hover{
        color: #9F9F9F;
        text-decoration: none;
      }
    }
  }
}

.header{

  &__dropdown{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__button{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #494A4A;
      height: 32px;
      background: #fff;
      border: none;
      border-radius: 6px;
      padding-left: 14px;
      padding-right: 14px;
      min-width: 200px;
      display: flex;
      justify-content: flex-start;  
      align-items: center;
      margin-right: 6px;
    }
  }

  &__btn{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00C48C;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 18px;
    padding-right: 18px;
    transition: 200ms ease;
    border: 2px solid #00C48C;

    &:hover{
      background: #fff;
      color: #00C48C;
    }
  }
}

.seo-meta{

  &__header{
    margin-left: 0;
    margin-right: 0;

    &__item{
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.small{
        max-width: 65px;
      }

      &.smaller{
        max-width: 76px;
      }

      &.medium{
        // max-width:220px;
      }

      &:last-child{
        margin-right: 15px;
      }
    }
  }

  &__body{
    border-radius: 6px;
    transition: 200ms ease;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;

    &.current{
      background: #E4E4E4;
    }

    &__subitem{
      background: #fff;
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      margin-left: 8px;
    }

    &__item{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: #fff;
      margin-left: 15px;
      padding: 0;
      margin-bottom: 4px;
      margin-top: 4px;
      border-radius: 12px;

      &__dropbtn{
        margin-right: 5px;
        border: none;
        background: #fff;
        height: 32px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 126px;
        border-radius: 6px;
      }


      &__child{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__p{
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          color: #494A4A;
          margin: 8px 0;
        }
      }
      

      &__cols{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100%;
      }

      &__green{
        background: #00C48C;
        height: 32px;
        border-radius: 12px;
        position: relative;

        &::before{
          content: attr(data-value)"%";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          font-weight: 600;
          color: #fff;
        }
      }

      &__yellow{
        background: #FFAD4C;
        height: 32px;
        margin: 6px;
        border-radius: 12px;
        position: relative;

        &::before{
          content: attr(data-value)"%";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          font-weight: 600;
          color: #fff;
        }
      }

      &__red{
        background: #FA5535;
        height: 32px;
        border-radius: 12px;
        position: relative;

        &::before{
          content: attr(data-value)"%";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          font-weight: 600;
          color: #fff;
        }
      }

      &.small{
        max-width: 65px;
        border-radius: 6px;
      }

      &.smaller{
        max-width: 76px;

        img{
          max-width: 100%;
        }
      }

      &.medium{
        // max-width:220px;
      }

      &:last-child{
        margin-right: 15px;
      }

      &__svg{
        margin-left: 5px;
      }

      &__p{
        font-size: 12px;
        margin-bottom: 0px;
        padding: 10px 0;

        &.blue{
          color: #00498D;
          font-weight: 600;
        }

        .finded{
          background: #FFAD4C;
          color: #343434;
          border-radius: 6px;
          padding: 0 2px;
          margin: -2px;
        }
      }

      &__left{
        width: fill-available;
        height: 100%;
        background: #fff;
        border-radius: 6px;
        z-index: 1;
        padding-left: 10px;
      }

      &__right{
        max-width: max-content;
        width: 100%;
        height: 100%;
        background: rgba(119, 119, 119, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 13px;
        border-radius: 0 6px 6px 0;
        margin-left: -3px;
        z-index: -1;
      }

      &__res{
        position: absolute;
        font-size: 12px;
        bottom: -20px;
        right: 0;
        margin-bottom: 0;
      }

      &__res-2{
        margin-bottom: 0;
        font-size: 12px;
        color: #6b6b6b;
        font-weight: 600;
      }
    }
  }
}

.red{
  color: #E75E5E;
}

.green{
  color: #00C48C;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
  width: 100%;
  height: 286px;
  border: none;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.ui-state-default{
  font-family: 'Proxima Nova';
  text-align: center;
  background: #fff;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease;
}

td.undifined{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
  background: none;
  border: 1px solid transparent;
}

.ui-datepicker .ui-datepicker-title select{
  margin: 1px 5px;
  border: none;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 5px 5px;
  font-weight: normal;
  font-size: 15px;
  color: #1A051D;
  font-family: 'Proxima Nova';
  border: none;

  option{
    background: #fff;
    padding: 5px 0;
    border: none;
  }
}

.ui-datepicker .ui-datepicker-next{
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2px;

  &-hover{
    border: none;
    background: #fff;
  }
}
.ui-datepicker .ui-datepicker-prev{
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2px;

  &-hover{
    border: none;
    background: #fff;
  }
}

.ui-datepicker-year{
  background: none;
  margin: 1px 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: #fff;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-left{
  background: #fff;
  color: #1A2B48;
}

.ui-state-default.ui-state-highlight{
  color: #1A2B48;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proxima Nova';
}

.ui-datepicker-calendar{
  font-family: 'Proxima Nova';


  th{
    position: relative;

    &::before{
      content: '';
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 5px);
      height: 2px;
      border-bottom: 2px dashed #ADB2BD;
    }
  }

  span{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ADB2BD;
    text-align: center;
    cursor: pointer;
  }
}

.ui-state-default:hover{
  background: #9CB9D5;
  color: #fff;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
  opacity: 1;
  cursor: pointer;
}

.ui-state-disabled{
  opacity: 1;

  .ui-state-default{
    color: #FFA26B;
  }
}

.ui-state-default.ui-state-active{
  background: #00498D;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
}

.ui-datepicker-year{
  cursor: pointer;
  color: #1A2B48;
  font-family: 'Proxima Nova';
  color: #1A2B48;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  padding-left: 6px;
}

.calendar{
  display: flex;
  justify-content: space-between;

  &__btn{
    max-width: 48%;
    width: 100%;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }

    &__input{
      max-width: calc(100% - 50px);
      border: none;
      background: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      color: #B4B4B4;
      cursor: pointer;  

      &::placeholder{
        color: #B4B4B4;
      }
    }

    &__button{
      background: #F5F9FB;
      max-width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px;
      border-radius: 6px;
      color: #B4B4B4;

      &:hover{
        color: #B4B4B4;
        text-decoration: none;
      }
    }
  }
}

.stat{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__item{
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;

    &__p{
      font-size: 12px;
      color: #B4B4B4;
      margin-bottom: 0;
      max-width: 90px;
      width: 100%;
      text-align: right;
    }
  }

  &__progress{
    width: fill-available;
    margin-left: 10px;

    &-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fill-available;
    }

    &__bar{
      width: calc(100% - 30px);
      border-radius: 6px;
      background: #00498D;
    }
    
    &__p{
      margin-bottom: 0;
      margin-left: 10px;
      color: #343434;
      font-size: 14px;
    }
  }
}

.sidebar{
  background: #fff;
  border-radius: 6px;
  padding: 15px 15px 15px 21px;
  height: 100%;
  width: 100%;
  margin-bottom: 11px;

  &-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__btn{

      &:last-child{
        max-width: 270px;
        width: 100%;
        margin-left: 11px;
      }
    }
  }

  &__chartbar{
    padding-top: 50px;
    border-top: 1px solid #BEBEBE;
    margin: 50px -15px 0 -20px;
    padding: 50px 20px 0 20px;
  }

  &__items{
    height: 339px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
  }

  &__item{
    background: #F5F9FB;
    border-radius: 6px;
    padding: 16px 20px 20px 20px;
    margin-top: 8px;

    &-cat{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 6px;
  
      &__p{
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #494A4A;
        margin-bottom: 0;
      }

      &__checkbox{
        margin: 0;
        margin-right: 6px;
      }
    }

    &-title{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      color: #494A4A;
    }

    &-body{
      margin-top: 6px;
    }

    &-p{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 6px;
      color: #8B8B8B;
    }
    
    &-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__row{
        display: flex;

        &__img{
          max-height: 19px;
        }
      }
    }

    &-btns{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-btn{
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: 200ms ease;

      svg{
        fill: #fff;
        transition: 200ms ease;
      }

      &_blue{
        background: #00498D;
        border: 2px solid #00498D;

        &:hover{
          background: #fff;

          svg{
            fill: #00498D;
            transform: rotate(-180deg);
          }
        }
      }

      &_green{
        background: #00C48C;
        border: 2px solid #00C48C;
        margin-left: 6px;

        &:hover{
          background: #fff;

          svg{
            fill: #00C48C;
          }
        }
      }
    }
  }

  .three{
    height: 70%;
  }

  .two{
    height: calc(30% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #494A4A;
    margin-bottom: 15px;
  }

  &__subtitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #494A4A;
    margin-bottom: 15px;
  }

  &__textarea{
    border: none;
    width: 100%;
    padding-right: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    margin-top: 10px;
    height: calc(100% - 360px); 

    &.min{
      height: calc(50% - 57px);
      margin-top: 15px;
    }

    &.medium{
      height: 45%;
    }
  }
}

.edit-btn{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 14px;
  line-height: 20px;
  color: #1A051D;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 10px;
  transition: 200ms ease;

  &:hover{
    background: #00498D;

    .edit-btn__i{
      background: #fff;

      svg{
        fill: #00498D;
      }
    }

    p{
      color: #fff;
    }
  }

  &__i{
    background: #00498D;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    border-radius: 6px;
    transition: 200ms ease;

    svg{
      fill: #fff;
      transition: 200ms ease; 
    }
  }

  p{
    margin-bottom: 0;
  }
}

.nonbg{
  background: none;
}

.justify-start{
  justify-content: flex-start;
  padding-left: 22px;
}

.my-col-2{
  flex: 0 0 18%;
  max-width: 18%;
}

.my-col-200{
  max-width: 200px;
}
.my-col-400{
  width: 400px;
}

.dropdown-toggle{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

.mr-1px{
  margin-right: 1px;
}

.svg{
  margin-left: 0;
}

.cont {
  width: 29px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cont:after {
  position: absolute;
  top: 7px;
  left: calc(50% - 1px);
  transform: translateX(-50%);
  content: attr(data-value);
  font-size: 16px;
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: inherit;
}

.popup{
  background: rgba(73, 74, 74, 0.71);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &__save-btn{
    margin-top: 25px;

    &:hover{
      text-decoration: none;
    }
  }


  &__bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item{
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.devider{
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #494A4A;
      margin: 0 10px;
    }
  }

  &__value{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #494A4A;
    width: 123px;
    height: 79px;
    background: #F5F9FB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }

  &__button{
    border: none;
    background: none;
  }

  #calendar{
    width: 100%;
  }

  #time{
    display: flex;

  }

  &__right{
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button{
    margin: 15px 0;
  }

  &__right,
  &__left{
    width: calc(50% - 15px);
  }

  &:target{
    opacity: 1;
    visibility: visible;

    .popup__body{
      transform: perspective(6000px) rotateX(0);
      transition: 700ms ease;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 35px;
  }

  
  &__body{
    max-width: 700px;
    width: 100%;
    height: 500px;  
    background: #fff;
    border-radius: 6px;
    transition: 500ms ease;
    z-index: 52;
    transform: perspective(6000) rotateX(180deg);
    padding: 30px;
  }

  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #494A4A;
  }

  &__close{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
  }
}

.success{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #00C48C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  svg{
    margin-right: 5px;
  }
}

.error{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #E75E5E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  svg{
    margin-right: 5px;
  }
}

.warning{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFAD4D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  svg{
    margin-right: 5px;
  }
}

.yourdrop{

}

.d-flex{
  display: flex;
}

.justify-space-between{
  justify-content: space-between;
}