mixin pagination()
  .pagination
    .pagination__left
      button.pagination__btn.gray
        svg(width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.768614 9.86729L5.54316 16.5446C5.94498 17.1118 6.59498 17.4546 7.29225 17.4546C9.05316 17.4546 10.0695 15.4691 9.05316 14.0391L5.59043 9.18183L9.05316 4.32456C10.0813 2.89456 9.05316 0.909105 7.29225 0.909105C6.59498 0.909105 5.93316 1.25183 5.53134 1.81911L0.756796 8.49638C0.473159 8.91001 0.47316 9.45365 0.768614 9.86729Z')
          path(d='M10.2232 9.86729L14.9859 16.5446C15.3996 17.1118 16.0496 17.4546 16.7468 17.4546C18.5077 17.4546 19.5359 15.4691 18.5077 14.0391L15.045 9.18183L18.5077 4.32456C19.5359 2.89456 18.5077 0.909105 16.7468 0.909105C16.0496 0.909105 15.3877 1.25183 14.9859 1.81911L10.2114 8.49638C9.92775 8.91001 9.92775 9.45365 10.2232 9.86729Z')
      button.pagination__btn.gray
        svg(width='10' height='18' viewbox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.586485 9.86729L5.36103 16.5446C5.76285 17.1118 6.41285 17.4546 7.11012 17.4546C8.87103 17.4546 9.88739 15.4691 8.87103 14.0391L5.4083 9.18183L8.87103 4.32456C9.89921 2.89456 8.87103 0.909105 7.11012 0.909105C6.41285 0.909105 5.75103 1.25183 5.34921 1.81911L0.574667 8.49638C0.29103 8.91001 0.291031 9.45365 0.586485 9.86729Z')
      button.pagination__text 1
      button.pagination__text.current 2
      button.pagination__text 3
      button.pagination__text ...
      button.pagination__text 22
      button.pagination__btn.blue
        svg(width='10' height='18' viewbox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M9.05658 8.49636L4.28204 1.81909C3.88022 1.25182 3.23022 0.909088 2.53295 0.909088C0.772037 0.909088 -0.244328 2.89454 0.772036 4.32454L4.23476 9.18182L0.772036 14.0391C-0.256146 15.4691 0.772037 17.4545 2.53295 17.4545C3.23022 17.4545 3.89204 17.1118 4.29385 16.5445L9.0684 9.86727C9.35204 9.45363 9.35204 8.91 9.05658 8.49636Z')
      button.pagination__btn.blue
        svg(width='20' height='18' viewbox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M19.0561 8.49636L14.2815 1.81909C13.8797 1.25182 13.2297 0.909088 12.5325 0.909088C10.7715 0.909088 9.75518 2.89454 10.7715 4.32454L14.2343 9.18182L10.7715 14.0391C9.74337 15.4691 10.7715 17.4545 12.5325 17.4545C13.2297 17.4545 13.8915 17.1118 14.2934 16.5445L19.0679 9.86727C19.3515 9.45363 19.3515 8.91 19.0561 8.49636Z')
          path(d='M9.6015 8.49636L4.83878 1.81909C4.42514 1.25182 3.77514 0.909088 3.07787 0.909088C1.31696 0.909088 0.288776 2.89454 1.31696 4.32454L4.77969 9.18182L1.31696 14.0391C0.288776 15.4691 1.31696 17.4545 3.07787 17.4545C3.77514 17.4545 4.43696 17.1118 4.83878 16.5445L9.61332 9.86727C9.89696 9.45363 9.89696 8.91 9.6015 8.49636Z')
      .dropdown.pagination__dropdown
        a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')#dropdownMenuLink.dropdown-toggle.pagination__dropdown__button
          | Показать по 10  
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(href='#') Показать по 20
          a.dropdown-item(href='#') Показать по 30
          a.dropdown-item(href='#') Показать по 40
    .pagination__right  
      p.pagination__p Всего элементов 130
      button.save-btn 
        .save-btn__i
          svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M15.7751 6H14.4522C14.1645 6 13.8909 6.13869 13.7217 6.37644L9.28767 12.5467L7.2794 9.75024C7.11017 9.51532 6.83939 9.37381 6.54887 9.37381H5.22601C5.04267 9.37381 4.93548 9.58325 5.04267 9.73326L8.55714 14.6241C8.64016 14.7404 8.74961 14.8352 8.87641 14.9005C9.00321 14.9659 9.14371 15 9.28626 15C9.42882 15 9.56932 14.9659 9.69612 14.9005C9.82292 14.8352 9.93237 14.7404 10.0154 14.6241L15.9556 6.35946C16.0656 6.20945 15.9584 6 15.7751 6Z")
            path(d="M10.5 0C4.70156 0 0 4.70156 0 10.5C0 16.2984 4.70156 21 10.5 21C16.2984 21 21 16.2984 21 10.5C21 4.70156 16.2984 0 10.5 0ZM10.5 19.2188C5.68594 19.2188 1.78125 15.3141 1.78125 10.5C1.78125 5.68594 5.68594 1.78125 10.5 1.78125C15.3141 1.78125 19.2188 5.68594 19.2188 10.5C19.2188 15.3141 15.3141 19.2188 10.5 19.2188Z")
        p Сохранить